PORT=4000
ALLOW_ORIGIN=http://localhost:3010

SQL_SERVER_HOST=
SQL_SERVER_PORT=1433
SQL_SERVER_DATABASE=CEO_REPORT
SQL_SERVER_USER=
SQL_SERVER_PASSWORD=
SQL_SERVER_ENCRYPT=false
SQL_SERVER_TRUST_SERVER_CERT=true
SQL_SERVER_SCHEMA=dbo
SQL_SERVER_PLAN_TABLE=production_planDev
SQL_SERVER_HISTORY_TABLE=production_plan_historyDev

# Downtime SQL Server
SQL_DOWNTIME_HOST=
SQL_DOWNTIME_PORT=1433
SQL_DOWNTIME_DATABASE=Downtime
SQL_DOWNTIME_USER=
SQL_DOWNTIME_PASSWORD=
SQL_DOWNTIME_ENCRYPT=false
SQL_DOWNTIME_TRUST_SERVER_CERT=true
SQL_DOWNTIME_SCHEMA=dbo
SQL_DOWNTIME_TABLE=Downtimes
